.sa-header {
  background-color: #140E39;
  height: 120px;
  color: white;
  flex: 1 100%;
}

.sa-header--red {
  height: 40px;
  background-color: #C1272D;
}

.sa-header--tittle {
  padding-left: 15px;
}

.sa-header-logout--button {
  cursor: pointer;
  float: right;
  margin-top: -60px;
  min-width: 90px;
  background-color: #4C7FB4;
  color: white;
  margin-right: 5px;
  border: none;
}
