
.sa-search-supply-box {
  margin-left: 5px
}

.sa-search-supply-box input, button{
  margin-left: 5px;
  padding: 10px;
}

.sa-search-supply-box button{
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}
