.sa-flexbox-table {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.sa-flexbox-row {
  display: flex;
  flex-direction: row;
}

.sa-flexbox-thead,
.sa-flexbox-col {
  flex: 1;
  display: block;
}

.sa-flexbox-table {
  border-collapse: collapse;
}

.thead {
  background-color: #b6b6b6
}


.sa-flexbox-tr, .sa-flexbox-col {
  padding: 5px;
  
}

.sa-flexbox-row:nth-child(even) {background-color: #f2f2f2}
